In [3]:
library()

In [4]:
library(gdata)

gdata: read.xls support for 'XLS' (Excel 97-2004) files ENABLED.

gdata: read.xls support for 'XLSX' (Excel 2007+) files ENABLED.

Attaching package: ‘gdata’

The following object is masked from ‘package:stats’:

    nobs

The following object is masked from ‘package:utils’:

    object.size

The following object is masked from ‘package:base’:

    startsWith

In [6]:
# read in excel data
df = read.xls("titanic3.xls", sheet = 1, header = TRUE)

In [7]:
# list variable names
names(df)

 [1] "pclass"    "survived"  "name"      "sex"       "age"       "sibsp"
 [7] "parch"     "ticket"    "fare"      "cabin"     "embarked"  "boat"
[13] "body"      "home.dest"

In [9]:
# create a numerical variable for gender 
df$gen_dum = ifelse(df$sex=="male",1,0)

In [10]:
# make sure the new variable is added in the existing matrix (data table)
names(df)

 [1] "pclass"    "survived"  "name"      "sex"       "age"       "sibsp"
 [7] "parch"     "ticket"    "fare"      "cabin"     "embarked"  "boat"
[13] "body"      "home.dest" "gen_dum"

In [11]:
# show the number of rows in the matrix
nrow(df)

[1] 1309

In [12]:
# remove duplicated rows by the "name" variable
df1 = df[!duplicated(df$name),]

In [13]:
# show the number of rows in the new matrix
nrow(df1)

[1] 1307

In [36]:
# create a column that gives total number of relatives on board
df1$tot_rel <- df1$sibsp + df1$parch

In [37]:
names(df1)

 [1] "pclass"    "survived"  "name"      "sex"       "age"       "sibsp"
 [7] "parch"     "ticket"    "fare"      "cabin"     "embarked"  "boat"
[13] "body"      "home.dest" "gen_dum"   "tot_rel"

In [38]:
dim(df1)

[1] 1307   16

In [46]:
df1$pclass_1 = ifelse(df1$pclass==1,1,0)
df1$pclass_2 = ifelse(df1$pclass==2,1,0)
df1$pclass_3 = ifelse(df1$pclass==3,1,0)
df1$embarked_C = ifelse(df1$embarked=="C",1,0)
df1$embarked_Q = ifelse(df1$embarked=="Q",1,0)
df1$embarked_S = ifelse(df1$embarked=="S",1,0)

In [47]:
summary(df1)

     pclass         survived                                    name
 Min.   :1.000   Min.   :0.0000   Abbing, Mr. Anthony             :   1
 1st Qu.:2.000   1st Qu.:0.0000   Abbott, Master. Eugene Joseph   :   1
 Median :3.000   Median :0.0000   Abbott, Mr. Rossmore Edward     :   1
 Mean   :2.294   Mean   :0.3826   Abbott, Mrs. Stanton (Rosa Hunt):   1
 3rd Qu.:3.000   3rd Qu.:1.0000   Abelseth, Miss. Karen Marie     :   1
 Max.   :3.000   Max.   :1.0000   Abelseth, Mr. Olaus Jorgensen   :   1
                                  (Other)                         :1301
     sex           age              sibsp            parch
 female:465   Min.   : 0.1667   Min.   :0.0000   Min.   :0.0000
 male  :842   1st Qu.:21.0000   1st Qu.:0.0000   1st Qu.:0.0000
              Median :28.0000   Median :0.0000   Median :0.0000
              Mean   :29.8675   Mean   :0.4996   Mean   :0.3856
              3rd Qu.:39.0000   3rd Qu.:1.0000   3rd Qu.:0.0000
              Max.   :80.0000   Max.   :8.0000   Max.   :9.0000
              NA's   :263
      ticket          fare                     cabin      embarked
 CA. 2343:  11   Min.   :  0.000                  :1012    :  2
 1601    :   8   1st Qu.:  7.896   C23 C25 C27    :   6   C:270
 CA 2144 :   8   Median : 14.454   B57 B59 B63 B66:   5   Q:122
 3101295 :   7   Mean   : 33.334   G6             :   5   S:913
 347077  :   7   3rd Qu.: 31.275   B96 B98        :   4
 347082  :   7   Max.   :512.329   C22 C26        :   4
 (Other) :1259   NA's   :1         (Other)        : 271
      boat          body                      home.dest      gen_dum
        :821   Min.   :  1.0                       :563   Min.   :0.0000
 13     : 39   1st Qu.: 72.0   New York, NY        : 64   1st Qu.:0.0000
 C      : 38   Median :155.0   London              : 14   Median :1.0000
 15     : 37   Mean   :160.8   Montreal, PQ        : 10   Mean   :0.6442
 14     : 33   3rd Qu.:256.0   Cornwall / Akron, OH:  9   3rd Qu.:1.0000
 4      : 31   Max.   :328.0   Paris, France       :  9   Max.   :1.0000
 (Other):308   NA's   :1186    (Other)             :638
    tot_rel        .pclass.f    pclass_1         pclass_2         pclass_3
 Min.   : 0.0000   1:323     Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.: 0.0000   2:277     1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median : 0.0000   3:707     Median :0.0000   Median :0.0000   Median :1.0000
 Mean   : 0.8852             Mean   :0.2471   Mean   :0.2119   Mean   :0.5409
 3rd Qu.: 1.0000             3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:1.0000
 Max.   :10.0000             Max.   :1.0000   Max.   :1.0000   Max.   :1.0000

   embarked_C       embarked_Q        embarked_S
 Min.   :0.0000   Min.   :0.00000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.0000
 Median :0.0000   Median :0.00000   Median :1.0000
 Mean   :0.2066   Mean   :0.09334   Mean   :0.6985
 3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :1.00000   Max.   :1.0000

In [57]:
ols0 <- lm(survived ~ pclass_1+pclass_2+age+gen_dum+tot_rel+embarked_C+embarked_Q, data=df1)

In [58]:
summary(ols0)

Call:
lm(formula = survived ~ pclass_1 + pclass_2 + age + gen_dum +
    tot_rel + embarked_C + embarked_Q, data = df1)

Residuals:
     Min       1Q   Median       3Q      Max
-1.01589 -0.24430 -0.08037  0.23385  0.99199

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.7646173  0.0375630  20.356  < 2e-16 ***
pclass_1     0.3247507  0.0344940   9.415  < 2e-16 ***
pclass_2     0.1508298  0.0304044   4.961  8.2e-07 ***
age         -0.0054891  0.0009527  -5.762  1.1e-08 ***
gen_dum     -0.5027629  0.0258640 -19.439  < 2e-16 ***
tot_rel     -0.0208334  0.0086896  -2.398 0.016683 *
embarked_C   0.1102923  0.0325012   3.393 0.000716 ***
embarked_Q  -0.0946561  0.0579648  -1.633 0.102774
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3878 on 1036 degrees of freedom
  (263 observations deleted due to missingness)
Multiple R-squared:  0.3825,	Adjusted R-squared:  0.3783
F-statistic: 91.67 on 7 and 1036 DF,  p-value: < 2.2e-16

In [55]:
# predit the survival probability using logistic regression 
logit0 <- glm(survived ~pclass_1+pclass_2+age+gen_dum+tot_rel+embarked_C+embarked_Q,
              family=binomial(link='logit'),data=df1)

In [56]:
summary(logit0)

Call:
glm(formula = survived ~ pclass_1 + pclass_2 + age + gen_dum +
    tot_rel + embarked_C + embarked_Q, family = binomial(link = "logit"),
    data = df1)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.4833  -0.6796  -0.4216   0.6538   2.4396

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept)  1.509791   0.259379   5.821 5.86e-09 ***
pclass_1     2.037904   0.237114   8.595  < 2e-16 ***
pclass_2     0.945718   0.202530   4.670 3.02e-06 ***
age         -0.036474   0.006654  -5.482 4.21e-08 ***
gen_dum     -2.644953   0.177787 -14.877  < 2e-16 ***
tot_rel     -0.146103   0.061147  -2.389  0.01688 *
embarked_C   0.687187   0.212010   3.241  0.00119 **
embarked_Q  -0.730473   0.411724  -1.774  0.07603 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1412.52  on 1043  degrees of freedom
Residual deviance:  960.01  on 1036  degrees of freedom
  (263 observations deleted due to missingness)
AIC: 976.01

Number of Fisher Scoring iterations: 5